* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: url("images/table.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-family: 'Holtwood One SC', serif;
    font-size: 5rem;
}

P {
    padding: 10px 0px;
    font-size: 1.5rem;
}

#message-el {
    font-style: italic;
}

.rules {
    margin-bottom: 30px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 1.5rem;

}

button:hover {
    cursor: pointer;
    box-shadow: black 5px 5px 5px;
}